@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (width < 375px) {
  html {
    font-size: 85%;
  }
}
/*Hamburger Menu styles*/
.hamburgerMenu {
  width: 32px;
  height: 2px;
  position: relative;
  display: block;
  transition: all 0.2s;
  cursor: pointer;
}

.hamburgerMenu::before {
  content: "";
  display: block;
  position: absolute;
  width: 32px;
  height: 2px;
  transform: translateY(-8px);
  transition: all 0.2s;
}

.hamburgerMenu::after {
  content: "";
  display: block;
  position: absolute;
  width: 32px;
  height: 2px;
  transform: translateY(8px);
  transition: all 0.2s;
}

.open .hamburgerMenu {
  background-color: transparent;
}

.open .hamburgerMenu::before {
  top: 0;
  transform: rotate(225deg);
  background-color: #332111;
}

.open .hamburgerMenu::after {
  top: 0;
  transform: rotate(-225deg);
  background-color: #332111;
}
